<table>
<div id="<%= dom_id human %>">
  <p>
    <strong>First name:</strong>
    <%= human.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= human.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= human.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= human.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= human.twitter %>
  </p>

</div>
</table>
